/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body,
html {
	margin: 0;
	padding: 0;
}

#video-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

video {
	height: 300px;
	width: 400px;
	-o-object-fit: cover;
	object-fit: cover;
}

.main {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.left-side {
	-webkit-box-flex: 0.8;
	-ms-flex: 0.8;
	flex: 0.8;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.videos-container {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	background-color: black;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.right {
	-webkit-box-flex: 0.2;
	-ms-flex: 0.2;
	flex: 0.2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #242324;
	border-left: 1px solid #3d3d42;
}

.controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #1c1e20;
	color: #d2d2d2;
	padding: 5px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.controls-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 8px 10px;
	min-width: 80px;
	cursor: pointer;
}

.controls-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.controls-button i {
	font-size: 24px;
}

.controls-button:hover {
	background-color: #343434;
	border-radius: 5px;
}

.leave-meeting {
	color: #eb534b;
}

.right-header {
	color: #f5f5f5;
	text-align: center;
}

.chat-history {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.message-container {
	padding: 22px 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.message-container input {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	background-color: transparent;
	border: none;
	color: #f5f5f5;
}
